<button id="burger-btn" type="button" class="relative inline-flex items-center gap-2 text-lg bg-black bg-clip-text mix-blend-difference" aria-label="Open menu">
	{% bsicon "list" "text-3xl" %}
	<span class="sr-only">Menu</span>
</button>
