<svg class="{{ className | escape }}" fill="currentColor" aria-hidden="true">
	<use xlink:href="/assets/icons/bootstrap.svg#{{ icon | escape }}" />
</svg>
{% if title %}
<span class="sr-only">{{ title | escape }}</span>
{% endif %}
