<ul class="inline-flex gap-4 text-sm">
	<li><a class="link text-center" href="/posts/"{% if currentTag == 'posts' %} aria-current="page"{% endif %}>All posts</a></li>
	<li><a class="link text-center" href="/linux/"{% if currentTag == 'linux' %} aria-current="page"{% endif %}>Linux</a></li>
</ul>
