	<div class="sticky top-0 bg-green-500 text-center text-black p-1 z-100 text-sm" id="update-splash" hidden
		aria-hidden="true" role="alert">
		{% bsicon "cloud-download" %}
		Update available!
		<button class="link text-current" onclick="location.reload()">Reload the page</button>
	</div>
