---
layout: root
---

<header class="my-12">
	<div class="relative p-3 mx-auto w-full max-w-5xl box-border" role="presentation">
		<h1 class="text-6xl font-black leading-normal text-transparent bg-clip-text bg-gradient-to-br bg-red from-red to-pink">{{ title }}</h1>
	</div>
</header>

<article class="pb-16 leading-loose">
	<div class="relative p-3 mx-auto w-full max-w-5xl box-border" role="presentation">
		<div class="max-w-3xl mr-auto" role="presentation">
			{{{ content }}}
		</div>
	</div>
</article>
