---
title: Alex Bolotskov
---
<!DOCTYPE html>
<html lang="en" class="latte dark:mocha text-gray-800 dark:text-gray-100 bg-crust font-sans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="{{ eleventy.generator }}">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/assets/style.css">
  <link rel="preload" href="https://github.com/AlexAtHome.png" as="image" />
	<link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="anonymous" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito:ital,wght@0,400;0,700;0,800;0,900&display=swap" />
</head>
<body>
	<main class="min-h-screen bg-cover bg-gradient-to-br from-base to-40%" role="presentation">
		<header class="fixed right-0 top-0 z-100">
			<nav class="flex flex-col relative">
				<a id="front-page-link" href="/" class="p-3 pb-1 inline-flex items-center gap-4 opacity-50 hover:opacity-100 transition-opacity" role="button">
					<img
						src="https://github.com/AlexAtHome.png"
						alt="github profile"
						class="block self-center object-fill w-4 h-4 rounded-full outline-pink outline outline-2 outline-offset-4"
						loading="lazy"
					/>
				</a>
				<button class="p-3">
					<svg class="inline-block bi w-4 h-4" fill="currentColor">
						<use xlink:href="/assets/icons/bootstrap.svg#list" />
					</svg>
				</button>
			</nav>
		</header>
		{{{ content }}}
	</main>
	<script type="module" src="/main.js"></script>
</body>
</html>
