---
layout: root
eleventyImport:
  collections: ["postlist"]
---

<main class="main grid grid-cols-1 md:grid-cols-3 3xl:grid-cols-5 3xl:max-w-full">
	<div class="flex flex-col items-stretch gap-4 col-span-1" id="twitter-bio-lmao">
		{% render "face", class: "inline-flex shrink-0 object-fill w-20 h-20 rounded-full" %}
		<span class="heading text-4xl mb-2">Alex Bolotskov</span>
		<div class="flex gap-2 flex-wrap" aria-label="My tech stach">
			{% render 'tech-stack' %}
		</div>
		<div>
			<a target="_blank" href="{{ githubProfile }}" class="inline-flex gap-2 items-center link w-auto dark:text-white text-black">{% bsicon "github" %} AlexAtHome</a>
		</div>
		<p>Experienced frontend developer that doesn't hesitate to go a little beyond the&nbsp;web tech and likes to think
			outside the box.</p>
		<div role="presentation">
			<p role="presentation">I like</p>
			<ul aria-label="My favorite activities" class="columns-2 w-full">
				<li>{% bsicon "controller" %} gaming</li>
				<li>{% bsicon "code-slash" %} <span class="font-mono">coding</span></li>
				<li>{% bsicon "bicycle" %} bycicles</li>
				<li>{% bsicon "keyboard" %} mechanical keyboards</li>
			</ul>
		</div>
	</div>

	<section class="md:col-span-2" id="projects">
		<h2 class="heading-1">My projects</h2>
		<div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-y-12">
			{% render 'project-preview', name:"viewport", sourceCodeUrl: "https://github.com/AlexAtHome/viewport", webpageUrl: "https://viewport.alexalex.dev", icon: "arrows-fullscreen", description: "Just a webpage that shows the current viewport and screen resolution" %}
			{% render 'project-preview', name: "json", sourceCodeUrl: "https://github.com/AlexAtHome/json", webpageUrl: "https://json.alexalex.dev", icon: "braces", description: "JSON format tool" %}
			{% render 'project-preview', name: "vscode-fish-text", sourceCodeUrl: "https://github.com/AlexAtHome/vscode-fish-text", webpageUrl: "https://marketplace.visualstudio.com/items?itemName: mamoru.vscode-fish-text", icon: "body-text", description: "Soviet style text generator for Visual Studio Code" %}
			{% render 'project-preview', name: "speech-code", sourceCodeUrl: "https://github.com/AlexAtHome/speech-code", webpageUrl: "https://speech.alexalex.dev", icon: "body-text", description: "Soviet style text generator" %}
			{% render 'project-preview', name: "sitealert", sourceCodeUrl: "https://github.com/AlexAtHome/sitealert", icon: "exclamation-diamond", description: "A Python script that checks if the given URL does not return the 4xx or 5xx status." %}
			{% render 'project-preview', name: "keycap", sourceCodeUrl: "https://github.com/AlexAtHome/keycap", webpageUrl: "https://keycap.alexalex.dev", icon: "keyboard", description: "Keyboard testing app" %}
		</div>
	</section>

	<section class="md:col-span-3 3xl:col-span-2">
		<h2 class="heading-1">Latest posts</h2>
		<ol class="grid grid-cols-1 gap-6 items-start">
			{%- for post in collections.postlist limit: 5 -%}
				{% render 'article-excerpt', href: post.url, title: post.data.title, createdAt: post.page.date, tag: post.data.tags[1] || post.data.tags[0] %}
			{%- endfor -%}

			<a href="/posts/" class="inline-flex gap-2 items-center link w-auto">
				More posts
				{% bsicon "arrow-right" %}
			</a>
		</ol>
	</section>
</main>
