---
layout: root
eleventyImport:
	collections: ["post"]
---

<header class="py-12">
	<div class="container" role="presentation">
		<h1 class="inline-flex flex-col gap-4 text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-bl text-accent from-pink to-red">
			Hello, visitor. This is my blog.
		</h1>
	</div>
</header>

<section class="flex relative flex-col justify-center items-start pb-16">
	<nav class="container">
		<ol class="flex gap-4">
			<li><a class="link" href="/">Front page</a></li>
			<li>
				<svg class="inline-block bi w-4 h-4" fill="currentColor">
					<use xlink:href="/assets/icons/bootstrap.svg#arrow-right" />
				</svg>
			</li>
			<li><a class="pointer-events-none text-inherit" href="{{ page.url }}" aria-current="page">Posts</a></li>
		</ol>
	</nav>
	<div class="container" role="presentation">
		<div class="grid grid-cols-2 gap-10 gap-y-16 md:grid-cols-2">
			{%- for post in collections.post reversed limit: 10 offset:0 -%}
				{%
					render 'article-excerpt',
					href: post.url,
					title: post.data.title,
					excerpt: post.content,
					createdAt: post.page.date
				%}
			{%- endfor -%}
		</div>
	</div>
</section>
