@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply inline-flex relative gap-2 items-center border-b border-transparent text-blue visited:text-mauve hover:text-white;
		
		&::before {
			content: '';
			@apply absolute w-full h-1 bg-blue/50 top-full z-n1 transition-all;
		}

		&:hover::before {
			@apply h-full top-0;
		}
	}
}

:root {
	font-size: 14px;

	@screem sm {
		font-size: 16px;
	}

	@screem md {
		font-size: 18px;
	}

	@screen lg {
		font-size: 20px;
	}

	@screen xl {
		font-size: 22px;
	}

	@screen 2xl {
		font-size: 24px;
	}
}

