@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply relative p-3 mx-auto w-full max-w-5xl box-border;
	}

	.link {
		@apply inline-flex relative gap-2 items-center border-b border-transparent text-blue-400 px-2 transition-colors hover:text-white before:-skew-x-12 before:absolute before:w-full before:h-1 before:top-full before:left-0 before:z-n1 before:transition-all hover:before:h-full hover:before:top-0;
	}

	.md-content {
		@apply leading-loose flex flex-col gap-6;

		> * {
			@apply relative max-w-3xl mr-auto;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply my-2 font-bold dark:text-pink-400 leading-normal;
		}

		h1 {
			@apply text-5xl;
		}

		h2 {
			@apply text-3xl;
		}

		h3 {
			@apply text-2xl;
		}

		h4 {
			@apply text-xl;
		}

		a {
			@apply link p-0 before:h-0.5 leading-tight before:top-[1.2em];
		}

		s {
			@apply relative no-underline before:w-full before:h-1 before:bg-current before:block before:absolute before:-skew-x-32 before:left-0 before:top-2.5;
		}

		ol,
		ul {
			@apply pl-6 box-border flex flex-col;
		}

		li {
			@apply relative;
		}

		ul {
			@apply list-disc;
		}

		ol {
			@apply list-decimal;
		}

		pre[class] {
			@apply w-full rounded-xl backdrop-blur text-sm;

			> code[class] {
				@apply leading-loose;
			}
		}

		kbd {
			@apply text-sm p-0.5 px-2 pb-0 border bg-gray-800 rounded-md border-black box-content;
		}

		blockquote {
			@apply w-full py-4 px-12 italic flex justify-center items-center;

			> p {
				@apply text-xl;
			}
		}

		code {
			@apply font-mono;
		}

		code:not([class]) {
			@apply box-content backdrop-blur border-gray-800 rounded-md text-[.8em] dark:text-pink-400 text-red-500;
		}

		code.hljs {
			@apply overflow-auto;
		}
	}
}

@layer base {
	:root {
		scroll-behavior: smooth;
		scrollbar-color: #94a3b8 #fff;

		@media (prefers-color-scheme: dark) {
			scrollbar-color: #334155 #1e1e2e;
		}

		@screen xl {
			font-size: 18px;
		}

		@screen 2xl {
			font-size: 20px;
		}
	}

	body {
		&::-webkit-scrollbar {
			@apply w-1.5 h-1.5;
		}

		&::-webkit-scrollbar-track {
			@apply bg-black;
		}

		&::-webkit-scrollbar-thumb {
			@apply rounded-lg dark:bg-slate-700 bg-slate-400;
		}
	}
}

@layer utilities {
	.bs-icon svg {
		width: 100%;
		height: 100%;
		display: block;
	}

	.bs-icon {
		display: inline-flex;
		width: 1em;
		height: 1em;
		vertical-align: middle;
	}
}
